/* side navbar */

.background-image{
    /* background-image: url(/assets/images/second-page-background.webp); */
    /* width: 100%; */
    height: fit-content; 
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.economica-regular {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }


*{
    /* width: 100%;
    height: 100vh; */
    /* background-position: center center; */
    background-size: cover;
    height: auto ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(0, 0, 0);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    position: fixed;
    left: 0;
}

.sidebar.active ~ .main-content{
    left: 165px;
    width: calc(100% - 165px);
}

.sidebar.active{
    width: 180px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translatex(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo{
    color:  #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    place-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    margin: 0;
    /* padding-top: 20px; */
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;

}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}


.sidebar.active p{
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    /* margin: 0.8rem auto; */
    line-height: 50px;
    font-size: 13px;
    padding-top: 10px;

}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    line-height: 0;
}

.sidebar ul li a:hover {
   padding-left: 10px;
   transition: 0.5s;
}

.sidebar ul li a i {
    min-width: 50px;
    /* text-align: center; */
    height: 50px;
    border-radius: 12px;
    line-height: 60px;
    font-size: 23px;
    font-weight: lighter;
    padding-left: 10px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1,8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: transparent;
    min-height: fit-content;
    top: 0;
    left: 60px;
    transition: all 0.5s ease;
    width: calc(100% - 60px);
    padding: 1rem;
    margin-top: -23px;
    /* padding-top: 22px; */
    /* overflow-y: auto; */
   

}

.container{
    display: flex;
    justify-content: space-between;
}

.sidebar.active .user{
    padding-left: 50px;
}

.dubai-mall-headding{
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}


.first-page-side-icons{
    display: flex;
    gap: 8px;
    position: absolute;
    right: 10px;
    top: 9px;
}



.first-food-icon{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    float: right;
    border-radius: 5px; 
}

.first-language-icon{
    width: 45px;
    height: 35px;
    background-color: #ffffff;
    float: right;
    border-radius: 5px;
}

.first-language-icon h3{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 9px;
}

.first-food-icon h3{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: normal;
    padding-top: 4px;
    padding-left: 9px;
}


.dropdown-content{
    background-color: rgb(255, 255, 255);
    margin-top: 9px;
    width: 73px;
    position: relative;
    right: 30px;
    display: none;
   
}

.dropdown-content a{
    text-decoration: none;
    color: #000000;
    font-size: 10px;
    padding-left: 10px;
   
}

.sign-in-button{
    width: 85px;
    height: 35px;
    background-color: #ffffff;
    float: right;
    border-radius: 5px;
}

.sign-in-button span {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    /* padding-top: 3px; */
    padding-left: 5px;
    font-weight: 500;
    position: relative;
    top: -4px;
}

.sign-in-button i {
    padding-left: 0px;
    font-size: 17px;
    padding-left: 10px;
    position: relative;
    top: -1px;
}

.switch-to-view{
    width: 35px;
    height: 33px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 53px;
}

.switch-to-view i {
    font-size: 23px;
    padding-left: 5px;
    position: relative;
    top: 3px;
}
/* 
.serch-bar-min i{
    position: absolute;
} */

.serch-bar{
    width: 84.9%;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    left: 128px;
    top: 53px;
    color: #000000;
    font-size: 12px;
    padding-left: 15px;
    
}

.serch-switch-mine-dive{
    display: flex;
}

.nav-filter{
    width: 35px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    left: 96%;
    top: 53px;
}

.nav-filter span {
    font-size: 20px;
    padding-left: 7px;
}

.option-menu-mine{
    display: flex;
    position: absolute;
    left: 32px;
    top: 100px;
    gap: 25px;
   
   
}

.option-menu-mine h1{
  
    color: #fff;
    font-size: 12px;
    font-weight: normal;
   
    /* position: absolute;
    left: 50px;
    top: 110px; */
    /* gap: 76px; */
   
}

.carousel-mine-master{
    padding: 20px 0px;
}
/* .spotify-playlists h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
} */
.carousel-mine-master .list{
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding-top: 70px;
}
.carousel-mine-master .item{
    /* min-width: 140px; */
    /* width: 100%; */
    /* padding: 15px; */
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4;
    height: fit-content;
    text-align: center;
}
/* .spotify-playlists .item:hover{
    background-color: #252525;
} */
.carousel-mine-master .item img{
    width: 120px;
    height: 80px;
    border-radius: 6px;
    
    /* margin-bottom: 10px; */
}
.carousel-mine-master .item .play{
    position: relative;
}
.carousel-mine-master .list .item:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.carousel-mine-master .list .item h4{
    color: #ffffff;
    font-size: 10px;
    /* margin-bottom: 10px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 100%; */
    margin-top: 5px;
    font-weight: 400;
}
.carousel-mine-master .list .item p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
/* .carousel-mine-master hr{
    margin: 70px 0px 0px;
    border-color: #f71f1f;
} */


/* 
.food-carousel-mine{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 32px;
    top: 130px;
}

.carousel-img-name-mine{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

.carousel-img-div img{
    width: 120px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 5px;
}

.carousel-name-div h1{
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    margin: 0;
    text-decoration: none;
} */

/* .top-fixed-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000;
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: fit-content;
} */


.loyalty-min-div{
    display: flex;
    position: absolute;
    left: 20px;
    top: 260px;
}

.loyalty-div-one{
    width: 150px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.56);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.loyalty-div-two{
    width: 850px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.56);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.loyalty-div-one span {
    font-size: 27px;
    color: #ffffff;
    padding-left: 53px;
    padding-left: 30px;
    position: relative;
    top: 15px;
}

.loyalty-div-one i {
    padding-left: 24px;
}

.loyalty-div-two h1{
    color: #fffefe;
    font-size: 12px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 30px;list-style: 100px;
}

.loyalty-div-two h2{
    color: #fffefe;
    font-size: 12px;
    font-weight: normal;
    padding-top: 0px;
    padding-left: 30px;list-style: 100px;
}

.craft-burger-min-div{
    display: flex;
    position: absolute;
    left: 33px;
    top: 355px;
}

.craft-burger-div-one img{
    width: 370px;
    height: 145px;
    background-color: rgb(255, 255, 255);
   border-radius: 10px;
}

/* .craft-burger-div-two{
    width: 220px;
    height: 140px;
    background-color: rgb(225, 80, 80);
    border: 1px solid rgb(237, 83, 83);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
} */

.bestseller h1 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 33.5rem;
    padding-left: 19px; 
}

.bestseller-name-div h1{
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 7px;
    padding-top: 5px;
    margin: 0;
    cursor:default;
}

.bestseller-name-div h2{
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    padding-left: 7px;
    padding-top: 5px;
    margin: 0;
    cursor:default;
}

.bestseller-img-name-mine-two {
    width: 257px;
    height:265px;
    background-color: rgba(0, 0, 0, 0.56);
    position: relative;
    top: 500px;
    border-radius: 8px;
}

.bestseller-img-div img{
    width: 257px;
    height: 170px;
    background-color: #ffffff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.sidebar.active ~ .bestseller-img-div img{
    width: 10px;
}

.bestseller-img-name-mine {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px 25px;
    padding: 10px;
    padding-top: 20px;
    /* position: relative;
    bottom: 220px; */
    margin-top: -213px;
}



.bestseller-img-name-mine-second {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px 25px;
    padding: 10px;
    padding-top: 50px;
    /* position: relative;
    bottom: 220px; */
    margin-top: 0px;
}

.WINGS-TENDERS h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 108rem;
    padding-left: 20px;
    cursor:default;
}


.bestseller-name-mine-two{
    width: 257px;
    height:100px;
    background-color: rgba(0, 0, 0, 0.56);
    position: relative;
    top: 500px;
    border-radius: 8px;
}

.bestseller-name-div-second h1{
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 7px;
    padding-top: 9px;
    margin: 0;
    position: relative;
    top: 7px;
    cursor:default;
}

.bestseller-name-div-second h2 {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 7px;
    padding-top: 5px;
    margin: 0;
    position: relative;
    top: 7px;
    cursor:default;
}
    
.CRAFT-BURGERS h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 125.8rem;
    padding-left: 20px;
}

.bestseller-img-name-mine-third {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px 25px;
    padding: 10px;
    padding-top: 50px;
    margin-top: 0px;
}

.specialty-fries h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 200.6rem;
    padding-left: 20px;
     cursor:default;
}

.bestseller-img-name-mine-forth {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px 25px;
    padding: 10px;
    padding-top: 50px;
    margin-top: 0px;
}


.craft-salad h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 237.3rem;
    padding-left: 20px; 
    cursor:default;

}

.bestseller-img-name-mine-craft-salad {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px 25px;
    /* grid-template-columns:auto auto auto 250px; */
    padding: 10px;
    padding-top: 50px;
    margin-top: 0px;
}

.off-the-record h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 277.6rem;
    padding-left: 20px;
    cursor:default;
}

.bestseller-img-name-mine-off-the-record{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px 25px;
    padding: 10px;
    padding-top: 50px;
    margin-top: 0px;
}

.sauce-it-up h1 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 298rem;
    padding-left: 20px;
    cursor:default;
}

.kids-section-title h1{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 335.5rem;
    padding-left: 20px;
    cursor:default;
}

.footer-line{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    top: 480px;
}

.footer-content-mine h1{
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: 373rem;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    cursor:default;
}

.sidebar.active ~ .WINGS-TENDERS h1 {
   display: none;
}


/* favorite section start */

.parent-mine-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.favorite-content-mine-div {
    width: 257px;
    height:265px;
    background-color:transparent;
    position: relative;
    top: 500px;
    border-radius: 8px;
}

.favorite-image img{
    width: 260px;
    height: 210px;
    
}

.favorite-name-div h1{
    color: #878585;
    font-size: 14px;
    font-weight: normal;
    padding-left: 7px;
    padding-top: 5px;
    margin: 0;
    font-weight: 600;
    cursor:default;
}

.browse-menu-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    width: 120px;
    height: 30px;
    border: solid white 1px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
}


/* feefback start */

.feddback-mine {
    width: 50%;
    height: 200px;
    background-color: yellow;
    position: absolute;
    right: 0;
    top: 110px;
}

.WhatsApp-number-text {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.verification-code {
      color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding-top: 7px;
}

.number-input {
    width: 100%;
}












@media(max-width:768px) {
    .carousel-mine-master .list {
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        z-index: 999;
       
    }

    .carousel-mine-master .list::-webkit-scrollbar {
        background-color: transparent;
        height: 1px;
    }

    .carousel-mine-master .list .item {
        min-width: 140px;
        width: 160px;
        padding: 0px;

    }

    .carousel-mine-master .list .item img {

        border-radius: 0px;

    }
}

@media screen and (min-width:1024px) and (max-width:1215px) {
    .nav-filter{
        position: absolute;
        left: 95.4%;
        top: 53px;
    }

    .bestseller-img-name-mine-craft-salad {
        position: relative;
        bottom: 245px;
    }

    .kids-section-title h1{
        top: 335.5rem;
       
    }

    .bestseller-img-name-mine-two {
        width: 320px;
        height: 242px;
    }

    .bestseller-img-div img{
        width: 320px;
        height: 190px;
    }

    label #btnf {
        display: block;
    }

     
}



.sidebar-toggle-div{
    width: 39%;
    height: 100vh;
    background-color: #616161;
    position: absolute;
    z-index: 1;
    top: 0;
    /* left: -500px; */
    display: none;
   
}

.login-li{
    text-decoration: none;
    padding-left: 25px;
    position: relative;
    top: 15px;
    color: #ffffff;
    font-size: 15px;
}

.toggle-items{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    line-height: 44px;
    padding-left: 20px;
    padding-top: 40px;
    font-family: sans-serif;
}


.toggle-items a{
    text-decoration: none;
    color: #ffffff;
}

.toggle-items a:hover {
    color: #ffffff;
}

.item-content{
    padding-left: 10px;
    position: relative;
    bottom: 8px;
    font-weight: lighter;
    font-size: 13px;

}

.toggle-items a:hover{
    padding-left: 14px;
    transition: 0.5s;
    color: #ffffff;
}

.toggle-last-section-div{
    padding-left: 150px;
    padding-top: 280px;
}

.toggle-last-section-div p{
    font-size: 11px;
    padding-left: 30px;
    margin: 0;
    color: #ffffff;
}

.toggle-last-section{
    padding-left: 20px;
}


  .toggle-logo {
    width: 100px;
    /* padding-left: 150px;
    padding-bottom: 10px; */
  }
  
  .toggle-logo img {
    width: 130px;
    /* padding-top: 270px; */
  }

#check{
    display: none;
}

label #btnf{
   position: absolute !important;
     cursor: pointer !important; 
     z-index: 1;
     transition: transform .2s;
}

label #btnf:hover{
    -ms-transform: scale(.9); /* IE 9 */
  -webkit-transform: scale(.9); /* Safari 3-8 */
  transform: scale(.9);
}
 

label #btnf{
    left: 12px;
    top: 10px;
    font-size: 25px;
   font-weight: 600;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    display: none;
    
}

label #btnf :hover{
    text-decoration: none;
	color: #000;
}

.toggle-close{
   /* padding-left: 100px; */
   float: right;
   font-size: 24px;
   padding-right: 20px;
   /* color: black;
   background-color: #ffffff; */
}

.dropdown-content{
    background-color: #616161;
    margin-top: 12px;
    width: 73px;
    position: relative;
    right: 29px;
    display: none;
    border-radius: 3px;
    z-index: 1;
   
}

.dropdown-content a{
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    padding-left: 10px;
   
}

.sidebar-toggle-div2{
    width: 39%;
    height: 100vh;
    background-color: #616161;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    /* left: -500px; */
   /* float: right; */
   display: none;
   
}

@media (max-width:576px) {

    .sidebar-toggle-div {
        width: 100%;
    }

    .sidebar-toggle-div2 {
        width: 100%;
    }

    .item-content {
        padding-left: 7px;
        position: relative;
        bottom: 5px;
        font-weight: 400;
        font-size: 15px;
    }

    .toggle-last-section-div {
        padding-left: 120px;
        padding-top: 354px;
    }

    .toggle-logo img {
        padding-left: 25px;
        width: 120px;
    }


    .main-content {
        padding: 0;
        padding-top: 0;
        left: 0;
        width: 100%;
        margin-top: 0px;
    }


    .first-page-side-icons {
        position: absolute;
        right: 3%;
        top: -13px;
    }

    .dubai-mall-headding {
        position: absolute;
        top: -5px;
        left: 60px;
        font-size: 12px;
    }

    label #btnf{
        display: block;
        
    }

    .sidebar {
        display: none;
    }

    .switch-to-view {
        width: 36px;
        height: 34px;
        position: absolute;
        left: 11px;
        top: 29px;
        padding-left: 1px;
        padding-top: 2px;
    }

    .serch-bar {
        position: absolute;
        left: 55px;
        top: 32px;
        width: 72%;
    }

    .nav-filter {
        position: absolute;
        left: 87%;
        top: 32px;
    }

    .sign-in-button {
        display: none;
    }

    .first-food-icon {
        display: none;
    }

    .loyalty-div-one {
        width: 100px;
        position: absolute;
        left: -15px;
        top: -22px;
    }

    .loyalty-div-one i {
        padding-left: 0px;
        font-size: 30px;
    }

    .loyalty-div-two {
        width: 240px;
        position: absolute;
        left: 84px;
        top: -22px;
    }

    .craft-burger-div-one img {
        position: absolute;
        left: -18px;
        width: 346px;
        position: absolute;
       
        top: -10px;
    }

    .option-menu-mine {
        position: absolute;
        left: 15px;
        top: 80px;
    }

    .carousel-mine-master .list {
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        z-index: 999;
    }

    .carousel-mine-master .list .item {
        min-width: 120px;
        width: 160px;
    }

    .carousel-mine-master{
        padding: 45px 0px;
    }

    .bestseller-img-name-mine-two {
        width: 167px;
        height: 235px;
        position: relative;
        top: 529px;
        left: 0px;
    }

    .bestseller-img-div img {
        width: 167px;
        height: 135px;
    }

    .bestseller-img-name-mine {
        grid-template-columns: auto auto;
        grid-gap: 10px 15px;
        margin-top: -247px;
    }

    .bestseller-img-name-mine-second {
        grid-template-columns: auto auto;
        grid-gap: 15px 15px;
        margin-top: -357px;
    }

    .bestseller-img-name-mine-second {
        position: relative;
        right: 0px;
        margin-top: 0px;
    }

    .bestseller-name-mine-two {
        width: 167px;
    }

    .bestseller-img-name-mine-third {
        grid-template-columns: auto auto;
        grid-gap: 15px 15px;
        margin-top: -18px;
    }

    .bestseller-img-name-mine-forth {
        grid-template-columns: auto auto;
        grid-gap: 15px 15px;
        margin-top: -18px;
    }

    .bestseller-img-name-mine-craft-salad {
        grid-template-columns: auto auto;
        grid-gap: 15px 15px;
        margin-top: -18px;
    }

    .bestseller h1 {
        font-size: 16px;
    }

    .WINGS-TENDERS h1 {
        position: absolute;
        top: 142.5rem;
        font-size: 16px;
    }

    .CRAFT-BURGERS h1 {
        position: absolute;
        top: 174rem;
        font-size: 16px;
    }

    .specialty-fries h1 {
        position: absolute;
        top: 301rem;
        font-size: 16px;
    }

    .craft-salad h1 {
        position: absolute;
        top: 349.5rem;
        font-size: 16px;
    }

    .sauce-it-up h1 {
        position: absolute;
        top: 399.5rem;
        font-size: 16px;
    }

    .kids-section-title h1 {
        position: absolute;
        top: 479.5rem;
        font-size: 16px;
    }


    .footer-content-mine h1 {
        position: absolute;
        top: 528.5rem;
       
    }

    .footer-line {
        position: absolute;
        top: 528rem;
    }




}